<p id="notice"><%= notice %></p>

<div class="col-md-8 blog-main">
    <h2><%= @article.title %></h2>

    <strong>Username:</strong>
    <%= @article.username %>

    <strong>User:</strong>
    <%= @article.user_id %>

    <strong>Category:</strong>
    <%= @article.category %>

    <%= link_to 'Edit', edit_article_path(@article) if logged_in?(:editor) %>

    <p><%= @article.body %></p>
    <%= link_to 'Back', articles_path %>
</div>